version: '3.1'

services:

  wordpress:
    image: wordpress
    restart: always
    ports:
      - 8081:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: my_user
      WORDPRESS_DB_PASSWORD: 123
      WORDPRESS_DB_NAME: wp_base
    volumes:
      - ./_theme:/var/www/html/wp-content/themes/my_them
      
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: wp_base
      MYSQL_USER: my_user
      MYSQL_PASSWORD: 123
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - ./db:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8082:80
    environment:
      - PMA_ARBITRARY=1